<div class="pageContainer">
  <div class="topContainer flexBox">
    <div class="leftSection">
      <div class="header flexBox centerVertical">
        <h1 class="orange">{{userModelValues?.name}}</h1>
      </div>
      <div class="infoContainer">
        <div class="info flexBox space" *ngFor="let question of userModelQuestions">
          <div class="leftColumn">
            <span>{{question.label}}:</span>
          </div>
          <div class="rightColumn">
            <span>{{userModelValues?userModelValues[question.key]:'cargando...'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="rightSection">
      <div class="controlsContainer flexBox space">
        <div class="buttons flexBox column space startVertical">
          <button mat-button *ngIf="isProfile" (click)="editUser()">EDITAR PERFIL</button>
          <button mat-button *ngIf="isMaster" (click)="editUser()">EDITAR
            <ng-container *ngIf="userDisplayType=='distributor'">DISTRIBUIDOR</ng-container>
            <ng-container *ngIf="userDisplayType=='veterinary'">VETERINARIO</ng-container>
            <ng-container *ngIf="userDisplayType=='client'">CLIENTE</ng-container>
          </button>
          <button mat-button class="orange" *ngIf="isMaster" (click)="deleteUser()">ELIMINAR
            <ng-container *ngIf="userDisplayType=='distributor'">DISTRIBUIDOR</ng-container>
            <ng-container *ngIf="userDisplayType=='veterinary'">VETERINARIO</ng-container>
            <ng-container *ngIf="userDisplayType=='client'">CLIENTE</ng-container>
          </button>
          <ng-container *ngIf="isMaster || isProfile">
            <button mat-button *ngIf="userDisplayType=='distributor' || userDisplayType=='client'" (click)="openLinkUser('veterinarios')">AFILIAR VETERINARIO</button>
            <button mat-button *ngIf="userDisplayType=='veterinary'" (click)="openLinkUser('clientes')">AFILIAR CLIENTE</button>
            <button mat-button *ngIf="userDisplayType=='veterinary'" (click)="openLinkUser('distribuidores')">AFILIAR DISTRIBUIDOR</button>
          </ng-container>
          <ng-container *ngIf="!isMaster && !isProfile">
            <button mat-button *ngIf="userDisplayType=='veterinary' && !isMaster" (click)="unlinkUser('veterinarios')">DESAFILIAR VETERINARIO</button>
            <button mat-button *ngIf="userDisplayType=='client' && !isMaster" (click)="unlinkUser('clientes')">DESAFILIAR CLIENTE</button>
            <button mat-button *ngIf="userDisplayType=='distributor' && !isMaster" (click)="unlinkUser('distribuidores')">DESAFILIAR DISTRIBUIDOR</button>
          </ng-container>
          <!-- <button mat-button>:D</button> -->
        </div>
        <div class="qrContainer flexBox column centerVertical center">
          <div class="qrCode">
            <qrcode [qrdata]="userModelValues?.userCode" [level]="'M'" [usesvg]="true"></qrcode>
          </div>
          <div class="code flexBox center">
            <span>{{userModelValues?.userCode}}</span>
          </div>
        </div>
      </div>
      <div class="pointsContainer flexBox column centerVertical center">
        <ng-container *ngIf="showPoints()">
          <h1>{{userModelValues?userModelValues.points:'0'}}</h1>
          <h2>PUNTOS</h2>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="tablesContainer" *ngIf="!isProfile">
    <div class="tableContainer" *ngIf="userDisplayType=='veterinary'  && this.isMaster">
      <div class="tableHeader flexBox space centerVertical">
        <h2>ALMACENES AFILIADOS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="distributorsTableFunction"
      [columns]="columns"
      (onItemClick)="viewUserModel('distribuidor',$event)"></app-table>
    </div>
    <div class="tableContainer" *ngIf="(userDisplayType=='distributor' || userDisplayType=='client') && this.isMaster">
      <div class="tableHeader flexBox space centerVertical">
        <h2>VETERINARIOS AFILIADOS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="veterinariesTableFunction"
      [columns]="columns"
      (onItemClick)="viewUserModel('veterinario',$event)"></app-table>
    </div>
    <div class="tableContainer" *ngIf="userDisplayType=='veterinary' && this.isMaster">
      <div class="tableHeader flexBox space centerVertical">
        <h2>CLIENTES AFILIADOS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="clientsTableFunction"
      [columns]="columns"
      (onItemClick)="viewUserModel('cliente',$event)"></app-table>
    </div>
    <div class="tableContainer" *ngIf="this.isMaster">
      <div class="tableHeader flexBox space centerVertical">
        <h2>SOLICITUDES REALIZADAS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="userOrdersTableFunction"
      [columns]="orderColumns"
      (onItemClick)="viewUserOrder($event)"></app-table>
    </div>
    <div class="tableContainer">
      <div class="tableHeader flexBox space centerVertical">
        <h2>PRODUCTOS CANJEADOS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="rewardProductsTableFunction"
      [columns]="columns"
      (onItemClick)="viewProduct($event)"></app-table>
    </div>
  </div>
</div>
