<div class="pageContainer">
  <div class="pageHeader flexBox center centerVertical column">
    <h1 *ngIf="userDisplayType=='distributor'">ALMACENES</h1>
    <h1 *ngIf="userDisplayType=='veterinary'">TIENDAS</h1>
    <h1 *ngIf="userDisplayType=='client'">CLIENTES</h1>
  </div>
  <div class="bannerContainer" [ngClass]="userDisplayType">
    <!-- <img src="assets/{{userDisplayType}}-top.png" alt="TopImage"> -->
  </div>
  <div class="pageContent">
    <div class="tableContainer">
      <div class="tableHeader flexBox space centerVertical">
        <h2 *ngIf="userDisplayType=='distributor'">ALMACENES</h2>
        <h2 *ngIf="userDisplayType=='veterinary'">TIENDAS</h2>
        <h2 *ngIf="userDisplayType=='client'">CLIENTES</h2>

        <button class="light" mat-raised-button *ngIf="authService.isMaster" [routerLink]="'../'+getUserLink()">
          <ng-container *ngIf="userDisplayType=='distributor'">CREAR DISTRIBUIDOR</ng-container>
          <ng-container *ngIf="userDisplayType=='veterinary'">CREAR TIENDA</ng-container>
          <ng-container *ngIf="userDisplayType=='client'">CREAR CLIENTE</ng-container>

        </button>
        <button class="light" mat-raised-button *ngIf="!authService.isMaster && userDisplayType=='distributor'" (click)="openLinkUser('distribuidores')">AFILIAR DISTRIBUIDOR</button>
        <button class="light" mat-raised-button *ngIf="!authService.isMaster && userDisplayType=='veterinary'" (click)="openLinkUser('tiendas')">AFILIAR TIENDA</button>
        <button class="light" mat-raised-button *ngIf="!authService.isMaster && userDisplayType=='client'" (click)="openLinkUser('clientes')">AFILIAR CLIENTE</button>
      </div>
      <app-table
      [viewButton]="true"
      [sourceFunction]="tableFunction"
      [columns]="columns"
      (onItemClick)="viewUserModel($event)"></app-table>
    </div>
    <div class="tableContainer" *ngIf="authService.isMaster && userDisplayType!='client'">
      <div class="tableHeader flexBox space centerVertical">
        <h2 *ngIf="userDisplayType=='distributor'">SOLICITUDES DE ALMACENES</h2>
        <h2 *ngIf="userDisplayType=='veterinary'">SOLICITUDES DE TIENDAS</h2>
      </div>
      <app-table
      [viewButton]="true"
      [deleteButton]="true"
      [deleteText]="'APROBAR'"
      [sourceFunction]="secondTableFunction"
      [columns]="columns"
      (onItemClick)="viewUserModel($event)"
      (onItemDelete)="viewUserModelAprove($event)"></app-table>
    </div>
  </div>

</div>
