@import "../../../style/variables";
.pageContainer{

  .pageContent{
    .formContainer{
      width: 45%;
      app-form{
        width: 65%;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .pageContainer{
    .pageContent{
      .formContainer{
        width: 100%;
        app-form{
          width: 100%;
        }
      }
    }
  }
}
