<div class="pageContainer pageStartContainer">
  <div class="privacyHeader flexBox center centerVertical">
    <div class="privacy">
      <a mat-button (click)="location.back()">
        <span>REGRESAR</span>
      </a>
    </div>
  </div>
  <div class="pageHeader flexBox center centerVertical">
    <div class="imageContainer">
      <img src="assets/logo.png" alt="IRON-DOG">
    </div>
  </div>
  <div class="pageContent flexBox center">
    <div class="privacyContainer flexBox column center centerVertical">
      <h1>Términos y Condiciones</h1>
      <div class="content">
        <h2>Términos y Condiciones Generales</h2>
        <p>El acceso a esta página Web y su uso están sujetos a las siguientes condiciones. Por favor, si no está de
        acuerdo con estas condiciones, no utilice la página Web. Productos Tuttimascotte SA de CV (en lo sucesivo
        TUTTI) ha creado la presente página Web y se encarga de administrarla. Nos reservamos el derecho de
        eliminar o modificar total o parcialmente esta página Web o las Condiciones generales de Uso en cualquier
        momento, según nuestro propio criterio y sin aviso previo. Por consiguiente, le rogamos que en su próxima
        visita a esta página Web vuelva a leer con detenimiento estas condiciones para conocer las modificaciones o
        adiciones que puedan haberse producido.</p>
        <h2>Cesión de usos y beneficios</h2>
        <p>Toda la información, documentos e imágenes publicados en esta página Web son propiedad exclusiva de
        TUTTI. Se permite su uso siempre que se mencione su fuente y aparezca el símbolo de copyright en todas las
        copias, que el uso de la información sea para fines meramente privados y no se use con fines comerciales,
        que no se modifique la información en modo alguno y que el material gráfico obtenido de la página Web se
        use exclusivamente en conjunto con el texto que lo acompaña.</p>
        <h2>Marcas y derechos de propiedad intelectual</h2>
        <p>Todas las marcas, avisos comerciales, diseños y demás signos distintivos y activos de propiedad intelectual
        mencionados en esta página Web son propiedad de TUTTI, salvo que se indique lo contrario o que sus
        derechos correspondan a terceros. El uso no autorizado de estas marcas o de cualquier otro material queda
        prohibido expresamente y constituye una vulneración de los derechos de copyright o derechos de autor, de los
        derechos de marca y de otros derechos de propiedad industrial. </p>
        <h2>Limitación de la responsabilidad</h2>
        <p>La información recogida en esta página Web ha sido recopilada por TUTTI a partir de fuentes internas y
        externas según su leal saber y entender y con la debida diligencia profesional. Nos esforzamos por ampliar y
        actualizar esta información de manera continua. La información contenida en esta página Web tiene como
        único propósito el de dar a conocer a TUTTI, a sus productos y servicios. Sin embargo, no asumimos
        responsabilidad alguna –ya sea de forma expresa o tácita– respecto a la exhaustividad y exactitud de la
        información recogida en esta página Web. En particular, le recomendamos que tenga en cuenta que esta
        información puede haber quedado desfasada. Por este motivo, le aconsejamos que compruebe la información
        obtenida en esta página Web antes de hacer uso de ella, de la manera que fuere. La orientación ofrecida en
        esta página Web no le exime de consultar nuestras recomendaciones más recientes –especialmente las
        contenidas en nuestras fichas de seguridad y en las fichas técnicas de nuestros productos- ni de comprobar si
        los productos son adecuados para los procedimientos o los fines previstos. Si necesita consejos o
        instrucciones específicas acerca de nuestros productos y servicios, no dude en contactarnos directamente.</p>
        <p>Los usuarios de esta página Web declaran su conformidad con el hecho de que el acceso a la página Web y
        sus contenidos se realice bajo su propia responsabilidad. Ni TUTTI ni los terceros que participen en la
        creación, producción o transmisión de esta página Web serán responsables de los daños o perjuicios que
        pudieran derivarse de acceder o de la imposibilidad de acceder a esta página Web y de su uso o de la
        imposibilidad de usarla, o del hecho que usted confíe en algún dato tomado de esta página Web.</p>
        <h2>Páginas Web de otros proveedores y enlaces</h2>
        <p>Esta página Web también contiene enlaces o referencias a otras páginas Web de terceros. No obstante, ello
        no implica que TUTTI apruebe sus contenidos. TUTTI no garantiza la disponibilidad ni el contenido de dichas
        páginas Web y no se hace responsable de los daños o perjuicios que pudieren derivarse del uso de esos
        contenidos, sean del tipo que fuere. Los enlaces a otros sitios Web están a disposición de los usuarios de esta
        página Web como mera información de utilidad. Los usuarios acceden a esas páginas Web bajo su propia
        responsabilidad. Le sugerimos revisar los Términos y Condiciones de Uso de dichos sitios Web.</p>
        <h2>Información proporcionada por el usuario</h2>
        <p>El usuario de la presente página Web es plenamente responsable del contenido y la exactitud de toda la
        información que suministre a TUTTI. Además, le corresponderá asegurarse que no se vulneran los derechos
        de terceros. El usuario autoriza a TUTTI para que almacene su información y la utilice para análisis
        estadísticos y otros fines comerciales específicos, siempre que no se trate de datos de carácter personal cuyo
        alcance exceda el de los meros datos maestros o datos de uso. En concreto, TUTTI estará autorizada para
        utilizar el contenido de dichos comunicados, incluidas las ideas, descubrimientos, borradores, técnicas o
        conocimientos técnicos contenidos en los mismos para cualquier fin, incluido el desarrollo, producción y
        comercialización de productos y servicios, así como para reproducir la información y ponerla a disposición de
        terceros sin restricciones.</p>
        <h2>Usuarios internacionales</h2>
        <p>TUTTI comprueba, gestiona y actualiza esta página Web desde sus oficinas en Estado de México. La página
        ha sido concebida exclusivamente para su uso en México. TUTTI no garantiza que la información incluida en
        esta página Web sea correcta en todo el mundo ni, en particular, que los productos y servicios presentados
        estén disponibles en otros países con la misma presentación, tamaño y en las mismas condiciones. En caso
        de que usted acceda a esta página Web desde un lugar fuera de México y descargue datos de la página
        desde ese lugar, tenga en cuenta que asumirá la responsabilidad de que dichas actuaciones sean
        compatibles con la legislación vigente en ese lugar.</p>
        <h2>Venta de Productos TUTTI</h2>
        <br>
        <p>Nuestros productos se venden de acuerdo a la versión actual de nuestras Condiciones Generales de Venta y
        Entrega.</p>
        <br>
        <p>Páginas Web con login: derechos de acceso</p>
        <br>
        <p>Observe por favor que usted está obligado a proteger sus derechos de acceso del uso de terceros no
        autorizados y que debe asegurarse que ellos no puedan ser usados por otros sin su autorización.</p>
        <br><br>
        <p>Debe notificar de inmediato a TUTTI si se entera de cualquier violación con respecto a cualesquiera detalles
        disponibles en el sitio web de TUTTI o si personas no autorizadas obtuvieron sus derechos de acceso o si ha
        descubierto indicios de la probabilidad de dicho acceso.</p>
        <p>Por favor, tenga en cuenta que Usted está obligado a proteger sus derechos de acceso de terceros no
        autorizados, asimismo debe asegurarse que no pueda ser utilizada su información por terceros sin su
        consentimiento. Deberá notificar inmediatamente a TUTTI si se entera que la seguridad ha sido violada
        respecto a todos los detalles disponibles en el sitio Web de TUTTI o si personas no autorizadas han obtenido
        sus derechos de acceso.</p>
        <h2>Declaraciones Prospectivas</h2>
        <br>
        <p>Esta página de Internet contiene declaraciones prospectivas basadas en supuestos y predicciones realizadas
        por TUTTI o el subgrupo de administración. Diversos riesgos conocidos y desconocidos, incertidumbres y
        otros factores pueden dar origen a material con diferencias entre los resultados actuales y futuros, la situación
        financiera, desarrollo o actuación de la compañía y los estimados aquí publicados. Estos factores incluyen
        aquellos discutidos en los reportes públicos de TUTTI disponibles en el website de TUTTI en
        www.tuttimascotte.com. La compañía no asume la responsabilidad de actualizar esta información prospectiva
        o de mantenerlos en futuros eventos o desarrollos.</p>
        <h2>Compra / Entrega: Conclusión de un Acuerdo</h2>
        <br>
        <p>Los Términos y Condiciones Generales así como las Condiciones de Venta y Entrega aplican a todos los
        acuerdos celebrados con TUTTI. También serán aplicables los términos y condiciones contenidos en su
        orden. Al enviarnos una orden, usted acepta y reconoce que conoce todas las condiciones adicionales de
        TUTTI especificadas en esta página.</p>
        <p>Una orden hecha utilizando los formularios que TUTTI le proporciona a través de la página Web, se tendrá
        como una oferta de compra a TUTTI, hasta la conclusión en un acuerdo. El acuerdo no se concluye sino hasta
        que TUTTI le envíe una confirmación por escrito a dicha orden.</p>
        <p>Si nuestra confirmación de orden difiere de los detalles especificados por el cliente, el cliente debe corregir
        inmediatamente por escrito dichos detalles. De otra manera, el acuerdo se hará efectivo sobre las condiciones
        especificadas en la confirmación.</p>
        <p>Estos términos y condiciones generales pueden cambiar dependiendo de las funcionalidades del programa y/o
        de su vigencia, por lo que TUTTI no se hace responsable de cualquier daño o responsabilidad legal que se
        derive del uso de esta página web y/o aplicación móvil.</p>
        <br>
        <br>
        <h1>AVISO DE PRIVACIDAD</h1>
        <br>
         <br>
        <p>Para una compañía innovadora y de carácter global como Productos Tuttimascotte, S.A. de C.V., con domicilio
        en Av. Revolución Zona A Lote 118 S/N Col. Granjas Lomas de Guadalupe, Cuautitlán Izcalli México D.F., C.P.
        54767, (en adelante “TUTTI”) le informa que el tratamiento legítimo, controlado e informado de sus datos
        personales es de vital importancia para alcanzar los objetivos corporativos a través de todas las áreas del
        negocio y reiterar nuestro compromiso con la privacidad y su derecho a la autodeterminación informativa.</p>
         
        <p>Para conocer nuestro Aviso de Privacidad integral visite</p> 
        <p><a href="https://veterinario.tuttimascotte.com/privacidad">https://veterinario.tuttimascotte.com/privacidad</a></p>
        <p><a href="https://distribuidor.tuttimascotte.com/privacidad">https://distribuidor.tuttimascotte.com/privacidad</a></p>
        <p><a href="https://cliente.tuttimascotte.com/privacidad">https://cliente.tuttimascotte.com/privacidad</a></p>
        <h2>Datos Personales o información personal</h2>
         <br>
        <p>Algunos de los datos que nos proporcione podrán ser:</p>
         <br><br>
        <p>● Datos de identificación: nombre completo, fecha de nacimiento, domicilio completo, RFC, teléfono de casa y
        celular, correo electrónico, fotografía junto con su mascota junto con el nombre, raza y edad de la misma.</p>
         <br>
        <p>Para mayor información acerca de lo que son los datos personales sensibles, le informamos que son:</p>
         <br>
        <p>Datos personales sensibles: Aquellos datos personales que afecten a la esfera más íntima de su titular, o cuya
        utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se
        consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud
        presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones
        políticas, preferencia sexual.</p>
         <br>
        <h2>Finalidades y/o uso de sus datos personales</h2>
         <br>
        <p>Los datos personales que nos proporciones se tratarán para cumplir con las siguientes finalidades:</p>
         
        <p>● Obtener datos estadísticos, envío de mails sobre el producto, promociones, información relacionada con el
        programa y encuestas, entrega de premios en caso de resultar ganador.</p>
         <br>
        <h2>Transferencias de datos personales</h2>
         <br>
        <p>Los datos que proporcione no serán transferidos a terceros nacionales o extranjeros ajenos a las finalidades de
        este programa.</p>
         <br>
        <h2>Seguridad de los datos personales</h2>                                              
        <p>TUTTI ha implementado y mantiene diversas medidas de seguridad, tanto físicas y administrativas, como
        tecnológicas, que nos permiten proteger sus datos personales y evitar su daño, pérdida alteración, destrucción,
        o el uso, acceso o tratamiento no autorizado.</p>
        <h2>Derechos del titular de los datos personales</h2>
         <br>
        <p>Le informamos que, en caso de no estar de acuerdo con las finalidades del Aviso de Privacidad, usted como
        titular de sus datos tiene el derecho de manifestar la negativa, revocar su consentimiento y limitar el uso o
        divulgación de sus datos, mandando un correo electrónico al Departamento de Protección de Datos Personales
        de TUTTI tutti@alibale.com.mx, en el cual nos redacte sus datos de identificación y manifieste alguno de sus
        derechos mencionados.</p>
         <br>
        <p>● que se le informe cuáles de sus datos personales están contenidos en las bases de datos de TUTTI y/o el
        programa, para qué se utilizan, el origen y las comunicaciones que se hayan realizado con los mismos y, en
        general, las condiciones y generalidades del tratamiento. La obligación de acceso se dará por cumplida
        cuando: i) los datos se pongan a disposición del titular de los datos personales o bien, ii) mediante la
        expedición de copias simples, medios magnéticos, ópticos, sonoros, visuales, holográficos, documentos
        electrónicos o cualquier otro medio o tecnología que se considere adecuada.</p>
         <br>
        <p>● que se corrijan o actualicen sus datos personales en caso de que sean inexactos o incompletos.</p>
        <br> 
        <p>● que sus datos personales sean dados de baja, total o parcialmente, de las bases de datos de TUTTI y/o el
        programa. Esta solicitud podrá dar lugar a un periodo de bloqueo tras el cual procederá la supresión de los
        datos.</p>
         <br>
        <p>● oponerse por causa legítima al tratamiento de sus datos personales por parte de TUTTI y/o el programa.</p>
         <br>
        <h1>Modificaciones al aviso de privacidad</h1>
        <p>TUTTI se reserva el derecho de enmendar o modificar el presente Aviso de Privacidad o el que haya puesto a
        su disposición, como estime conveniente, por ejemplo, para cumplir con cambios a la legislación o cumplir con
        disposiciones internas de TUTTI. Pondremos a su disposición el Aviso de Privacidad actualizado en el sitio web
        o le haremos llegar un comunicado respecto a cualquier modificación al correo electrónico que nos haya
        proporcionado.</p>
         <br>
        <h1>Contacto</h1>
        <p>Podrá dirigir preguntas o comentarios respecto al Aviso de Privacidad y otras cuestiones de privacidad y
        protección de datos personales al <strong>Departamento de Protección de Datos Personales de TUTTI</strong> al correo
        electrónico <a href="mailto:tutti@alibale.com.mx">tutti@alibale.com.mx</a> y/o presentarse en nuestras instalaciones ubicadas en Av. Revolución Zona A
        Lote 118 S/N Col. Granjas Lomas de Guadalupe, Cuautitlán Izcalli México D.F., C.P. 54767.</p>
      </div>
      <button mat-raised-button (click)="location.back()">
        REGRESAR
      </button>
    </div>
  </div>
</div>
