$blue: rgba(#022745, 1);

$dark-blue: rgba(#011529, 1);
$black-blue: rgba(#000912, 1);

$light-blue: rgba(#2c84d0, 1);

$orange: rgba(#b66953, 1);
$gray: rgba(#bfb8b8, 1);
$red: rgba(143, 4, 4, 1);

$app-margin: 4.5vw;
// $app-margin-mov: 5vw;
$menu-width: 14em;
$header-height: 4.2em;
// $header-height-mov: 15vh;

$green: #48f4bf;
