$blue: rgba(#004a87, 1);

$dark-blue: rgba(#002951, 1);
$black-blue: rgba(#00162c, 1);

$light-blue: rgba(#2c84d0, 1);

$orange: rgba(#ee6e4a, 1);
$gray: rgba(#e6e6e6,1);
$red: rgba(200,0,0,1);

$app-margin: 4.5vw;
// $app-margin-mov: 5vw;
$menu-width: 14em;
$header-height: 4.2em;
// $header-height-mov: 15vh;

$green: #48f4bf;
